html {
  scroll-behavior: smooth;
  font-family: Halyard Display;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
}

#labanner {
  /* Group 1 */
  position: absolute;
  width: 1920px;
  height: 888.17px;
  left: 0px;
  top: 0px;
  background-color: #2E4057;
  z-index = 4;

}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none
}
#lamap {
  position: absolute;
  width: 1920px;
  height: 902px;
  left: 0px;
  top: 871px;
  /* background-color: #2E4057; */
  z-index: 2;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.unclickable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

#labox {
  position: absolute;
  width: 744px;
  height: 187px;
  left: 141px;
  top: 202px;
}

.scripttext{
  position: absolute;
  width: 714.58px;
  height: 112.2px;
  left: 169.95px;
  top: 265px;

  font-family: Parkside;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 72px;
  /* or 48% */

  letter-spacing: 0.05em;

  color: #EAEBD5;
}

#explore {
  position: absolute;
  width: 244px;
  height: 72px;
  left: 1054px;
  top: 459px;

  font-family: Halyard Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */

  letter-spacing: 0.05em;

  color: #EAEBD5;
}
#blend {
  position: absolute;
  width: 1970px;
  height: 209.17px;
  left: -30px;
  top: 778px;
  z-index: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: 850px 850px;
  grid-template-rows: repeat(31, 1fr);
  grid-column-gap: 105px;
  justify-content: center;
}
.venice {
  position: absolute;
  width: 1920px;
  height: 2812px;
  left: 0px;
  top: 1681px;

  background: linear-gradient(180deg, #C4C4C4 0%, #2E4057 0%, #EAEBD5 29.35%);
}

#venicebox {
  grid-column: 2;
  grid-row: 2;
  margin-top: 120px;
}

.titlevenicebeach {
  grid-column: 2;

  font-family: Conglomerate;
  font-style: normal;
  font-weight: 300;
  font-size: 132.488px;
  line-height: 104px;
  /* or 78% */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0%;

  color: #2E4057;
}

#title_venice {
  grid-row: 2;
  padding-left: 20px;
  /* position: absolute;
  width: 513.82px;
  height: 111.75px; */
  /* left: 1032.68px;
  top: 246.89px; */
}

#title_beach {
  grid-row: 2;
  padding-top: 120px;
  padding-left: 370px;

}

#venicetitledescrip {
  grid-column: 2;
  grid-row: 2;
  padding-top: 330px;

/* or 150% */


color: #000000;
}

#venice_pic1 {
  grid-column: 1;
  grid-row: 2;
  padding-top: 100px;
}

#venice_pic2 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 500px;
}

#venice_pic3 {
  grid-column: 1;
  grid-row: 2;
  margin-top: 950px
}

.venice_descript {
  font-size: 72px;
  text-align: center;
}

#venicedescipt1 {
  grid-column: 1;
  grid-row: 2;
  padding-top: 700px;
}

#venicedescipt2 {
  grid-column: 2;
  grid-row: 2;
  padding-top: 1100px;
}

.venice_emphasis {
  font-family: Halyard Micro;
  font-style: normal;
  font-weight: bold;
  color: #2E4057;
}

.placetext {
  font-family: Conglomerate;
  font-style: normal;
  font-weight: 467;
  font-size: 84px;
  line-height: 72px;
  /* or 86% */

  letter-spacing: 0.05em;
  color: #2E4057;
}


.spooky.jumbo{
  letter-spacing: wide;
}

button.spooky{
  padding: 40px;
  margin: 10px;
  border-radius: 50%;
}
