html {
  scroll-behavior: smooth;
}

#labanner {
  /* Group 1 */
  position: absolute;
  width: 1920px;
  height: 888.17px;
  left: 0px;
  top: 0px;
  background-color: #2E4057;
  z-index = 4;

}

#lamap {
  position: absolute;
  width: 1920px;
  height: 902px;
  left: 0px;
  top: 871px;
  /* background-color: #2E4057; */
  z-index: 2;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.unclickable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none
}

#labox {
  position: absolute;
  width: 744px;
  height: 187px;
  left: 141px;
  top: 202px;
}

.scripttext{
  position: absolute;
  width: 714.58px;
  height: 112.2px;
  left: 169.95px;
  top: 265px;

  font-family: Parkside;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 72px;
  /* or 48% */

  letter-spacing: 0.05em;

  color: #EAEBD5;
}

#explore {
  position: absolute;
  width: 244px;
  height: 72px;
  left: 1054px;
  top: 459px;

  font-family: Halyard Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */

  letter-spacing: 0.05em;

  color: #EAEBD5;
}
#blend {
  position: absolute;
  width: 1970px;
  height: 209.17px;
  left: -30px;
  top: 778px;
  z-index: 1;
}

.venice {
  position: absolute;
  width: 1920px;
  height: 1070px;
  left: 0px;
  top: 1681px;

  background: linear-gradient(180deg, #C4C4C4 0%, #2E4057 0%, #EAEBD5 29.35%);
}

.placetext {
  font-family: Conglomerate;
  font-style: normal;
  font-weight: 467;
  font-size: 84px;
  line-height: 72px;
  /* or 86% */

  letter-spacing: 0.05em;
  color: #2E4057;
}

#veniceplace {
  position: absolute;
  width: 673px;
  height: 102px;
  left: 240px;
  top: 300px;
}

.spooky.jumbo{
  letter-spacing: wide;
}

button.spooky{
  padding: 40px;
  margin: 10px;
  border-radius: 50%;
}
